/* Estilo para el contenedor de búsqueda */
.search-container {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

/* Estilo para el icono de búsqueda */
.search-icon {
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #0075fc;
  margin-right: 10px;
}

/* Estilo para el input de búsqueda */
.search-input {
  display: inline-block;
  padding: 10px;
  border: 2px solid #0075fc;
  border-radius: 5px;
  font-size: 18px;
  width: 230px;
  color: whitesmoke;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #4b5563;
  transition: width 0.3s ease;
}

/* Estilo para cuando el input está enfocado */
.search-input:focus {
  border-color: #3b82f6;
  outline: none;
}

/* Estilo para las cards de frutas */
article.card {
  position: relative;
  width: 250px;
  transition: all 0.3s ease;
  margin: 0 auto;
}

/* Estilo para la imagen principal de la card */
article.card img:first-child {
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

/* Estilo para la imagen adicional de la card */
article.card img:last-child {
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: 0.3s ease;
  opacity: 0;
}

/* Estilo para los detalles de la card */
article.card .details {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  z-index: 1;
}

/* Estilo para el precio en la card */
article.card .price {
  font-size: 16px;
  margin-top: 5px;
}

/* Estilo para el efecto de hover en la card */
article.card:hover {
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

/* Estilo para el fondo degradado de la card */
article.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0) 95%
  );
  opacity: 0;
  transition: all 0.3s ease;
}

/* Estilo para mostrar el fondo degradado en hover */
article.card:hover::before {
  opacity: 1;
}

/* Estilo para mostrar la imagen adicional en hover */
article.card:hover img:last-child {
  opacity: 1;
  transform: translateY(10%);
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .search-container {
    position: static;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  article.card {
    width: 100%;
  }
}