/* brand.css */

/* Definimos la animación del texto con colores de gradiente */
@keyframes gradientText {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .text-gradient {
    font-size: 3rem; /* Tamaño del texto */
    font-weight: bold; /* Peso de la fuente */
    background: linear-gradient(270deg, #ff007a, #7d00ff, #00d2ff); /* Gradiente de colores */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* Hacemos el color del texto transparente para que se vea el gradiente */
    background-size: 300% 300%; /* Tamaño del gradiente para el movimiento */
    animation: gradientText 5s ease infinite; /* Aplicamos la animación del gradiente */
  }

/* Animacion pantalla de carga*/

/* Contenedor del texto que será animado */
/* style.css */

/* Contenedor del texto que será animado */
.wave-container {
  display: inline-flex;
  overflow: hidden;
}

/* Estilo para cada letra */
.wave-animation {
  display: inline-block;
  animation: wave 1s ease-in-out infinite;
  animation-fill-mode: both;
}

/* Animación de ola */
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
