/* brand.css */

/* Definimos la animación del texto con colores de gradiente */
@keyframes gradientText {
  0% { background-position: 0% 50%; }
  25% { background-position: 25% 50%; }
  50% { background-position: 50% 75%; }
  75% { background-position: 75% 100%; }
  100% { background-position: 100% 75%; }
}
.text-gradient {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(270deg, #00FF6A, #00D4FF, #00FFB2, #00F5FF, #00CFFF, #00FF44, #00FF00, #17f517);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradientText 15s ease-in-out infinite;
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
}

  .text-gradient {
    font-size: 3rem; /* Tamaño del texto */
    font-weight: bold; /* Peso de la fuente */
    background: linear-gradient(270deg, #84ffb7, #00D4FF, #00FFB2, #00F5FF, #6edf8a, #00FF44, #86e686, #8ffdeb);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* Hacemos el color del texto transparente para que se vea el gradiente */
    background-size: 300% 300%; /* Tamaño del gradiente para el movimiento */
    animation: gradientText 5s ease infinite; /* Aplicamos la animación del gradiente */
  }

/* Animacion pantalla de carga*/

/* style.css */

/* Contenedor del texto que será animado */
.wave-container {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap; /* Evita el salto de línea entre letras */
}

/* Estilo para cada letra */
.wave-animation {
  display: inline-block;
  margin-right: 2px; /* Ajusta el espacio entre letras */
  animation: wave 0.6s ease-in-out infinite; /* Cambiado a 0.6s para hacer la animación más rápida */
  animation-fill-mode: both;
}

/* Animación de ola */
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
  
}
