@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .wrapper{
    @apply w-full mx-auto max-w-screen-xl overflow-hidden
  }
}

strong {
  color: white;
}

/* Define la animación de deslizamiento */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Clase que se aplicará al formulario cuando esté en vista */
.slide-in {
  animation: slideIn 0.6s ease-out forwards;
}

/*fondo formulario*/
/* StarsBackground.css */
/* brand.css */

/* Definimos la animación del texto con colores de gradiente */
@keyframes gradientText {
  0% { background-position: 0% 50%; }
  25% { background-position: 25% 50%; }
  50% { background-position: 50% 75%; }
  75% { background-position: 75% 100%; }
  100% { background-position: 100% 75%; }
}
.text-gradient {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(270deg, #00FF6A, #00D4FF, #00FFB2, #00F5FF, #00CFFF, #00FF44, #00FF00, #17f517);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradientText 15s ease-in-out infinite;
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
}

  .text-gradient {
    font-size: 3rem; /* Tamaño del texto */
    font-weight: bold; /* Peso de la fuente */
    background: linear-gradient(270deg, #84ffb7, #00D4FF, #00FFB2, #00F5FF, #6edf8a, #00FF44, #86e686, #8ffdeb);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* Hacemos el color del texto transparente para que se vea el gradiente */
    background-size: 300% 300%; /* Tamaño del gradiente para el movimiento */
    animation: gradientText 5s ease infinite; /* Aplicamos la animación del gradiente */
  }

/* Animacion pantalla de carga*/

/* style.css */

/* Contenedor del texto que será animado */
.wave-container {
  padding-block: 10px;
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap; /* Evita el salto de línea entre letras */
}

/* Estilo para cada letra */
.wave-animation {
  display: inline-block;
  margin-right: 2px; /* Ajusta el espacio entre letras */
  animation: wave 1s ease-in-out infinite; /* Cambiado a 0.6s para hacer la animación más rápida */
  animation-fill-mode: both;
}

/* Animación de ola */
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
  
}
/* Team */
/* Team.css */
.transition-opacity {
  transition: opacity 1s ease-in-out;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

/* Animacion background */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}



/* fondo estrellas */

.stars-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* Asegúrate de que esté detrás de otros elementos */
}

.shooting-star {
  position: absolute;
  width: 100px;
  height: 2px;
  background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    width: 30px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    width: 30px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(-45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
  }

  /* Distribución de las estrellas */
  &:nth-child(1) { animation-delay: 6495ms; top: 10%; left: 10%; }
  &:nth-child(2) { animation-delay: 1471ms; top: 20%; left: 80%; }
  &:nth-child(3) { animation-delay: 8432ms; top: 30%; left: 30%; }
  &:nth-child(4) { animation-delay: 2398ms; top: 40%; left: 70%; }
  &:nth-child(5) { animation-delay: 4948ms; top: 50%; left: 20%; }
  &:nth-child(6) { animation-delay: 6521ms; top: 60%; left: 60%; }
  &:nth-child(7) { animation-delay: 9314ms; top: 70%; left: 40%; }
  &:nth-child(8) { animation-delay: 3917ms; top: 80%; left: 90%; }
  &:nth-child(9) { animation-delay: 7809ms; top: 90%; left: 50%; }
  &:nth-child(10) { animation-delay: 5276ms; top: 15%; left: 65%; }
  &:nth-child(11) { animation-delay: 2512ms; top: 25%; left: 35%; }
  &:nth-child(12) { animation-delay: 6749ms; top: 35%; left: 75%; }
  &:nth-child(13) { animation-delay: 3897ms; top: 45%; left: 25%; }
  &:nth-child(14) { animation-delay: 9356ms; top: 55%; left: 55%; }
  &:nth-child(15) { animation-delay: 4672ms; top: 65%; left: 15%; }
  &:nth-child(16) { animation-delay: 8934ms; top: 75%; left: 85%; }
  &:nth-child(17) { animation-delay: 1729ms; top: 85%; left: 45%; }
  &:nth-child(18) { animation-delay: 6782ms; top: 95%; left: 5%; }
  &:nth-child(19) { animation-delay: 5235ms; top: 5%; left: 55%; }
  &:nth-child(20) { animation-delay: 4298ms; top: 15%; left: 100%; }
  &:nth-child(21) { animation-delay: 4298ms; top: 20%; left: 32%; }
  &:nth-child(22) { animation-delay: 4298ms; top: 25%; left: 56%; }
  &:nth-child(23) { animation-delay: 4298ms; top: 30%; left: 125%; }
  &:nth-child(24) { animation-delay: 4298ms; top: 35%; left: 125%; }
  &:nth-child(25) { animation-delay: 4298ms; top: 36%; left: 125%; }
  &:nth-child(26) { animation-delay: 4298ms; top: 20%; left: 125%; }
  &:nth-child(27) { animation-delay: 4298ms; top: 10%; left: 125%; }
  &:nth-child(28) { animation-delay: 4298ms; top: 13%; left: 125%; }
  &:nth-child(29) { animation-delay: 4298ms; top: 12%; left: 125%; }
  &:nth-child(30) { animation-delay: 4298ms; top: 40%; left: 125%; }
  &:nth-child(31) { animation-delay: 4298ms; top: 34%; left: 125%; }
  &:nth-child(32) { animation-delay: 5678ms; top: 18%; left: 25%; }
  &:nth-child(33) { animation-delay: 2345ms; top: 22%; left: 75%; }
  &:nth-child(34) { animation-delay: 6789ms; top: 28%; left: 35%; }
  &:nth-child(35) { animation-delay: 3456ms; top: 34%; left: 5%; }
  &:nth-child(36) { animation-delay: 8901ms; top: 40%; left: 55%; }
  &:nth-child(37) { animation-delay: 4567ms; top: 46%; left: 65%; }
  &:nth-child(38) { animation-delay: 5678ms; top: 52%; left: 15%; }
  &:nth-child(39) { animation-delay: 6789ms; top: 58%; left: 85%; }
  &:nth-child(40) { animation-delay: 7890ms; top: 64%; left: 30%; }
}
/*Texto galeria animacion*/
.marquee-text {
  font-size: 3em;
  color: #0bca4a;
  text-shadow: 2px 2px 0px white;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}